# networks:
#   appnet:

# services:
#   web2:
#     user: "0:0"
#     build: ./Server
#     container_name: cycweb-rtc-web
#     restart: unless-stopped
#     environment:
#       - DOMAIN=cycwebcobperu.net
#       - API_TARGET=http://rtc_api:3001
#       - FRONTEND_TARGET=http://frontend:80
#       - NODE_ENV=production
#       - UV_THREADPOOL_SIZE=8
#     depends_on:
#       rtc_api:
#         condition: service_healthy
#     ports:
#       - "8080:8080"
#       - "444:444"
#     volumes:
#       - /srv/apps/CyC-GeoCampo_Amazon/certbot/conf:/etc/letsencrypt:ro
#       - /srv/apps/CyC-GeoCampo_Amazon/certbot/www:/var/www/certbot:ro
#     healthcheck:
#       test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8080/health"]
#       interval: 30s
#       timeout: 3s
#       retries: 3
#       start_period: 10s
#     cpus: "1.0"
#     mem_limit: "512m"
#     networks:
#       - appnet

#   rtc_api:
#     build:
#       context: ./backend
#       dockerfile: Dockerfile
#     container_name: cycweb-rtc-api
#     restart: unless-stopped
#     env_file:
#       - ./backend/.env.production
#     volumes:
#       - ./backend/assets:/app/assets
#       - ./backend/Adjuntos:/app/Adjuntos
#     expose:
#       - "3001"
#     healthcheck:
#       test: ["CMD", "wget", "-qO-", "http://127.0.0.1:3001/health"]
#       interval: 30s
#       timeout: 3s
#       retries: 3
#       start_period: 10s
#     cpus: "1.5"
#     mem_limit: "1024m"
#     networks:
#       - appnet

#   frontend:
#     build:
#       context: ./frontend
#       dockerfile: Dockerfile
#       args:
#         REACT_APP_ROUTE_API: /api/
#         REACT_APP_ROUTE_BASE: /#
#         REACT_APP_ROUTE_IMAGE: /
#         REACT_APP_RECAPTCHA_SITE_KEY: 6Lcs1swrAAAAAB3W0_EvXBASlyUw-wg_ElaRtrlY
#     container_name: cycweb-rtc-frontend
#     restart: unless-stopped
#     env_file:
#       - ./frontend/.env.production
#     depends_on:
#       rtc_api:
#         condition: service_started
#     ports:
#       - "8081:80"
#     healthcheck:
#       test: ["CMD", "wget", "-qO-", "http://127.0.0.1/"]
#       interval: 30s
#       timeout: 3s
#       retries: 3
#       start_period: 10s
#     cpus: "0.5"
#     mem_limit: "256m"
#     networks:
#       - appnet

services:
  frontend:
    image: cobperureiner/cycweb-frontend:latest
    build:
      context: ./frontend
    command: npm run build
    env_file:
      - ./frontend/.env.production
    volumes:
      - frontend-build:/app/build
    depends_on:
      - backend

  backend:
    image: cobperureiner/cycweb-backend:latest
    build:
      context: ./backend
    env_file:
      - ./backend/.env.production
    volumes:
      - /var/log/cycweb_backend_logs:/app/logs
      - frontend-build:/app/build
      - ./backend/assets:/app/backend/assets
      - ./backend/Adjuntos:/app/backend/Adjuntos
    command: ["node", "server.js"]
    ports:
      - "8081:8081"

volumes:
  frontend-build:
