# services:
#   web2:
#     build: ./Server
#     container_name: cycweb-rtc-web
#     restart: unless-stopped
#     environment:
#       - DOMAIN=cycwebcobperu.net
#       - API_TARGET=http://rtc_api:3001
#     depends_on:
#       - rtc_api
#     ports:
#       - "8080:8080"
#       - "444:444"
#     volumes:
#       - /srv/apps/CyC-GeoCampo/certbot/conf:/etc/letsencrypt:ro
#       - /srv/apps/CyC-GeoCampo/certbot/www:/var/www/certbot:ro

#   rtc_api:
#     build:
#       context: ./backend
#       dockerfile: Dockerfile
#     container_name: cycweb-rtc-api
#     restart: unless-stopped
#     env_file:
#       - ./backend/.env.production
#     volumes:
#       - ./backend/assets:/app/assets
#       - ./backend/Adjuntos:/app/Adjuntos
#       - frontend-build:/app/build
#     expose:
#       - "3001"

#   react_build:
#     build:
#       context: ./frontend
#       dockerfile: Dockerfile
#     container_name: cycweb-rtc-frontend
#     env_file:
#       - ./frontend/.env.production
#     volumes:
#       - frontend-build:/app/build
#     command: ["sh", "-c", "echo 'build listo'"]

# volumes:
#   frontend-build:

services:
  frontend:
    image: cycweb-rtc-frontend
    build:
      context: ./frontend
    command: npm run build
    env_file:
      - ./frontend/.env.production
    volumes:
      - frontend-build:/app/build
    depends_on:
      - backend

  backend:
    image: cycweb-rtc-backend
    build:
      context: ./backend
    env_file:
      - ./backend/.env.production
    volumes:
      - /var/log/cycweb_backend_logs:/app/logs
      - frontend-build:/app/build
      - ./backend/assets:/app/backend/assets
      - ./backend/Adjuntos:/app/backend/Adjuntos
    command: ["node", "server.js"]
    ports:
      - "8081:8081"

volumes:
  frontend-build:
